function Levels.getLevel 0
push argument 0
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call Levels.level1 0
return
label IF_FALSE0
push argument 0
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
call Levels.level2 0
return
label IF_FALSE1
push argument 0
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
call Levels.level3 0
return
label IF_FALSE2
push argument 0
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
call Levels.level4 0
return
label IF_FALSE3
push argument 0
push constant 5
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
call Levels.level5 0
return
label IF_FALSE4
push argument 0
push constant 6
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
call Levels.level6 0
return
label IF_FALSE5
push argument 0
push constant 7
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
call Levels.level7 0
return
label IF_FALSE6
push argument 0
push constant 8
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
call Levels.level8 0
return
label IF_FALSE7
push argument 0
push constant 9
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
call Levels.level9 0
return
label IF_FALSE8
push argument 0
push constant 10
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
call Levels.levelZOV 0
return
label IF_FALSE9
push constant 8
call String.new 1
push constant 89
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 33
call String.appendChar 2
call Main.waitForInput 1
pop temp 0
call Sys.halt 0
pop temp 0
push constant 0
return
function Levels.level1 2
push constant 6
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 16
push constant 6
call Level.new 3
pop local 1
push local 0
call Array.dispose 1
pop temp 0
push local 1
return
function Levels.level2 2
push constant 6
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 16
call String.new 1
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 16
call String.new 1
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 16
call String.new 1
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 16
call String.new 1
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 35
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 16
call String.new 1
push constant 35
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 16
call String.new 1
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 16
push constant 6
call Level.new 3
pop local 1
push local 0
call Array.dispose 1
pop temp 0
push local 1
return
function Levels.level3 2
push constant 6
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 16
call String.new 1
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 16
call String.new 1
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 35
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 16
call String.new 1
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 16
call String.new 1
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 16
call String.new 1
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 35
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 16
call String.new 1
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 16
push constant 6
call Level.new 3
pop local 1
push local 0
call Array.dispose 1
pop temp 0
push local 1
return
function Levels.level4 2
push constant 6
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 16
push constant 6
call Level.new 3
pop local 1
push local 0
call Array.dispose 1
pop temp 0
push local 1
return
function Levels.level5 2
push constant 6
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 16
call String.new 1
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 16
call String.new 1
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 16
call String.new 1
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 16
push constant 6
call Level.new 3
pop local 1
push local 0
call Array.dispose 1
pop temp 0
push local 1
return
function Levels.level6 2
push constant 6
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 16
push constant 6
call Level.new 3
pop local 1
push local 0
call Array.dispose 1
pop temp 0
push local 1
return
function Levels.level7 2
push constant 6
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 16
push constant 6
call Level.new 3
pop local 1
push local 0
call Array.dispose 1
pop temp 0
push local 1
return
function Levels.level8 2
push constant 6
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 16
call String.new 1
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 16
call String.new 1
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 16
call String.new 1
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 16
call String.new 1
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 16
call String.new 1
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 16
call String.new 1
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 16
push constant 6
call Level.new 3
pop local 1
push local 0
call Array.dispose 1
pop temp 0
push local 1
return
function Levels.level9 2
push constant 6
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 16
push constant 6
call Level.new 3
pop local 1
push local 0
call Array.dispose 1
pop temp 0
push local 1
return
function Levels.levelZOV 2
push constant 6
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 35
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 16
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 16
push constant 6
call Level.new 3
pop local 1
push local 0
call Array.dispose 1
pop temp 0
push local 1
return
