function Platform.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push constant 256
push constant 16
sub
push constant 8
sub
pop this 1
push constant 64
pop this 2
push constant 8
pop this 3
push pointer 0
return
function Platform.clear 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push constant 1
sub
push this 1
push this 3
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Platform.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push constant 1
sub
push this 1
push this 3
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push constant 2
add
push this 1
push constant 2
add
push this 0
push this 2
add
push constant 2
sub
push constant 1
sub
push this 1
push this 3
add
push constant 2
sub
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Platform.move 0
push argument 0
pop pointer 0
push pointer 0
call Platform.clear 1
pop temp 0
push this 0
push argument 1
add
push constant 512
push constant 1
sub
push this 2
sub
call Math.min 2
push constant 0
call Math.max 2
pop this 0
push pointer 0
call Platform.draw 1
pop temp 0
push constant 0
return
function Platform.getX 0
push argument 0
pop pointer 0
push this 0
return
function Platform.getY 0
push argument 0
pop pointer 0
push this 1
return
function Platform.getSX 0
push argument 0
pop pointer 0
push this 2
return
